version: '3.4'
services:
  config-client:
    image: jasypt-spring-boot-demo-cloud-config-client
    build:
      context: .
    environment:
      SPRING_PROFILES_ACTIVE: compose
      JASYPT_ENCRYPTOR_PASSWORD: password
      FOO_BAR: ENC(Zu51R5wTUaBbhJJoj8usPJ+h3Rd4Mw8qU1NxqOtSPJM0nZaYhhdpndWp1xcEdvsr)
    ports:
     - "8080:8080"
    links:
      - config-server
  config-server:
    image: hyness/spring-cloud-config-server:4.1.3
    environment:
      SPRING_PROFILES_ACTIVE: native
    volumes:
      - ./config:/config
    ports:
      - "8888:8888"